.tab {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tab__group {
  display: flex;
  gap: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #047;
}
@media screen and (max-width: 600px) {
  .tab__group {
    justify-content: center;
  }
  .tab__content {
    padding: 10px;
  }
}
