@font-face {
  font-family: "Work Sans";
  src: url(../../../public/assets/Work_Sans/static/WorkSans-Regular.ttf);
}
.rounded-button {
  background-color: dodgerblue;
  padding: 17px 33px;
  border-radius: 50px;
  background: #07f;
  border: none;
  color: #fff;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: 230ms ease-out;
  border: 1px solid #07f;
}
.rounded-button:hover {
  box-shadow: 1px 4px 12px 0px #0000002b;
}

.button_type_light {
  border: 1px solid #07f;
  background: #fff;
  color: #07f;
}
