.main {
  /* background-color: #fff; */
  width: 90%;
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  grid-template-rows: repeat(100px, auto);
}
.avatar {
  overflow: hidden;
  position: relative;
  border-radius: 35px;
  width: 300px;
  --card-color: #fff;
  --pillar-size: 40px;
  --big-circle-r: 30px;
  --circle-r: 26px;
  --circle-d: calc(var(--circle-r) * 2);
  --circles-space: calc(var(--big-circle-r) + var(--pillar-size));
  --circle-extend-inset: calc(var(--circle-r) + var(--circles-space));

  background: 
   /* Big Circle Cutout */ radial-gradient(
        circle at 100% 0%,
        transparent var(--big-circle-r),
        var(--card-color) calc(var(--big-circle-r) + 1px)
      )
      0px var(--pillar-size) / calc(100% - var(--pillar-size)) 100% no-repeat
      no-repeat,
    /* Top Circle  */
      radial-gradient(
        circle closest-side,
        var(--card-color) 100%,
        transparent calc(100% + 1px)
      )
      calc(100% - var(--circles-space)) 0 / var(--circle-d) var(--circle-d)
      no-repeat no-repeat,
    /* Right Circle */
      radial-gradient(
        circle closest-side,
        var(--card-color) 100%,
        transparent calc(100% + 1px)
      )
      100% var(--circles-space) / var(--circle-d) var(--circle-d) no-repeat
      no-repeat,
    /* Top Circle Extend */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 0px
      var(--circle-r) / calc(100% - var(--circles-space))
      calc(100% - var(--circle-r)) no-repeat no-repeat,
    /* Right Gap fill Pillar */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 0px
      0px / calc(100% - var(--circle-extend-inset)) var(--circle-d) no-repeat
      no-repeat,
    /* Right Circle Extend  */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 100%
      var(--circle-extend-inset) / var(--circle-d) 100% no-repeat no-repeat,
    /* Right Gap fill Pillar */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 0
      var(--circles-space) / calc(100% - var(--circle-r)) 100% no-repeat
      no-repeat;

  width: 417px;
  min-height: 500px;
}
.avatar__photo {
  position: absolute;
  bottom: 0;
  width: 90%;
}
.avatar__circle {
  position: absolute;
  border-radius: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(19, 208, 255);
  color: #fff;
  padding: 5px;
  transition-duration: 0.7s;
  transition-property: transform;
}
.avatar:hover .avatar__circle {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
