.header {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 35px 65px;
  background-color: transparent;
}
.header__links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
  list-style-type: none;
}
.header__link {
  position: relative;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  list-style-type: none;
  color: cyan;
  font-weight: 400;
  border: 3px solid rgba(40, 253, 150, 0.662);
  padding: 12px;
  width: 120px;
  height: 120px;
  box-shadow: inset -1px 1px 20px 0px rgb(0, 187, 187),
    -1px 1px 20px 0px rgb(0, 187, 187);
  border-radius: 40px;
  overflow: hidden;
  font-size: 17px;
}
.header__link:hover {
  border-color: white;
  color: white;
  box-shadow: inset -1px 1px 20px 0px rgb(247, 247, 247),
    -1px 1px 20px 0px rgb(242, 255, 255);
  border-radius: 40px;
}
.header__link::after {
  position: absolute;
  content: "";
  /* width: 100%; */
  /* height: 1.7px; */
  right: 0;
  bottom: 0px;
  background-color: #fff;
  box-shadow: inset -1px 1px 20px 0px rgb(0, 187, 187),
    -20px 1px 20px 10px rgb(0, 187, 187);
  border-radius: 4px;
  overflow: hidden;
}
.header__link:hover::after {
  background-color: #000;
  box-shadow: inset -1px 1px 20px 0px rgb(226, 238, 238),
    -20px 1px 20px 10px rgb(222, 232, 232);
}
/* nav */
.nav {
  width: 100%;
  padding: 8px 0;
}
.nav__menu {
  /* padding: 0 1px; */
  width: 100%;
  position: absolute;
  top: 50px;
  background-color: #ffffff7e;
  right: 0;
  padding-bottom: 20px;
}
.nav__menu-button {
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.nav__menu-button:hover {
  border: 1px solid #000;
  background-color: #00000094;
  color: #fff;
}
.nav__buttons {
}
.nav__buttons-list {
  list-style: none;
  text-decoration: none;
  padding: 5px;
}
.nav__link {
  list-style: none;
  text-decoration: none;
}
.nav__list-item {
  margin-top: 5px;
  padding: 2.5px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.nav__list-item:hover {
  background-color: rgba(128, 128, 128, 0.581);
}

.nav__top {
  display: flex;
  justify-content: space-between;
}
.header__top-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 1.4px solid #fff;
  z-index: 1;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 19px;
  transition: font-size all 350ms;
}
.header__top-button:hover {
  font-size: 29px;
  border-width: 3px;
  padding-bottom: 25px;
}
.header__top-button_visible {
  display: block;
}
.header__top-button_hidden {
  display: none;
}
@media screen and (max-width: 600px) {
  .header__top-button {
    display: block;
  }
  .header__links {
    flex-direction: column;
    background-color: red;
    text-decoration: none;
    list-style: none;
  }
  .nav__button {
  }
}
